@import "variables"
input, a.button
  width: 170px
  border: none
  height: 2.3em
  border-radius: 3px
  padding: .2em
  margin-bottom: 1em
  margin-left: 0
  font-family: $main-font

label
  display: inline-block
  margin-bottom: .5em
  font-size: .7em
  text-transform: uppercase
  color: #fff
  font-family: $main-font
  clear: both

select
  display: block


input[type=submit], a.button
  margin-top: 1em
  min-width: 100px
  height: 3em
  text-transform: uppercase
  font-family: $main-font
  font-size: 1.2em
  color: #fff
  &.secondary
    background: $dark-teal
  &.primary
    background: $orange
    font-size: .8em
    &:hover
      background: $medium-teal
      cursor: pointer
